[OCTOPRINT]

api_key = your secret api key 

[PRINTER]

bed_temperature = 45
nozzle_temperature = 200
poweron_script = /path/to/your-power-on-script.sh
poweroff_script = /path/to/your-power-on-script.sh