[OCTOPRINT]

apikey = your secret api key 

[PRINTER]

bed_temperature = 45
nozzle_temperature = 200
poweron_script = /path/to/your-power-on-script.sh
poweroff_script = /path/to/your-power-on-script.sh
stepper_step = 30
extrude_lenght = 30